<ion-app>
  <ion-menu side="start" menu="m1" content-id="content">
    <ion-header>
      <ion-toolbar>
        <ion-toolbar>
          <ion-title>
            Joy Bookings
          </ion-title>
        </ion-toolbar>
      </ion-toolbar>
    </ion-header>

    <ion-content id="content">
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" [routerLink]="['/places/discover']">
            <ion-buttons>
              <ion-button>
                <ion-icon name="business" slot="start"></ion-icon>
                <ion-label>Discover Places</ion-label>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" [routerLink]="['/bookings']">
            <ion-buttons>
              <ion-button>
                <ion-icon name="checkbox-outline" slot="start"></ion-icon>
                <ion-label>Your Bookings</ion-label>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogOut()">
            <ion-buttons>
              <ion-button>
                <ion-icon name="exit" slot="start"></ion-icon>
                <ion-label>Logout</ion-label>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-menu-toggle>


      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet></ion-router-outlet>
</ion-app>